:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    --first-color: #ff3c009e;
    --first-color-alt: #ff3c00;
    --second-color: #fff;
    --button-color: #f04511;
    --button-color-alt: #ff3c00;
    --title-color: #f04511;
    --text-color: #000;
    --border-color: #d1d7e3;
    --body-color: #f7f7f7;
    --text-white: #fff;
    --icon-color: #959595;
    --dp-font-family: "Montserrat", sans-serif !important;
    --dp-border-color: #d1d7e3;

    --dp-border-radius: 10px;
}
:root .dark {
    /*========== Colors ==========*/
    --first-color: #ff3c009e;
    --first-color-alt: #ff3c00;
    --second-color: #27292d;
    --button-color: #ff3c009e;
    --button-color-alt: #ff3c00;
    --title-color: #fff;
    --text-color: #fff;
    --text-color-light: #e2eded;
    --body-color: #1f2023;
    --border-color: none;
}
body {
    scroll-behavior: smooth;
}
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--second-color);
    transition: 0.4s;
    z-index: 500;
    border-bottom: 1px solid var(--body-color);
}
.main {
    width: 100%;
    min-height: 100vh;
    background: var(--body-color);
    transition: 0.4s;
}
.section {
    padding: 6.5rem 0 1rem;
}
