:root {
    --header-height: 3.5rem;
    // /*========== Colors ==========*/
    --title-color: #cc0033;
    --title-color-alt: #cc0033;
    --text-color: #000;
    --first-color: #fff;
    --first-color-alt: #cc0033;
    --second-color: #fff;
    --border-color: #d1d7e3;
    --body-color: #f7f7f7;
    --icon-color: #959595;
    --dp-font-family: "Montserrat", sans-serif !important;
    --dp-border-color: #d1d7e3;
    --dp-border-color-hover: #cc0033;
    --dp-month-year-row-height: 19px;
    --dp-cell-size: 30px;
    --dp-border-radius: 10px;
}
:root .dark {
    /*========== Colors ==========*/
    --title-color: #fff;
    --title-color-alt: #cc0033;
    --text-color: #fff;
    --text-color-light: #e2eded;
    --second-color: #27292d;
    --body-color: #1f2023;
    --border-color: none;
}
body {
    scroll-behavior: smooth;
}
* {
    font-family: var(--dp-font-family);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--second-color);
    transition: 0.4s;
    z-index: 500;
    border-bottom: 1px solid var(--body-color);
}
.main {
    width: 100%;
    min-height: 100vh;
    background: var(--body-color);
    transition: 0.4s;
}
.section {
    &__filters {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-top: var(--header-height);
    }
    &__schedule {
        min-height: 100vh;
        padding-top: calc(var(--header-height) + 20px);
        padding-bottom: 20px;
    }
}
.dp__theme_light {
    --dp-primary-color: #cc0033 !important;
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}
@media screen and (max-width: 590px) {
    .container {
        max-width: 500px;
    }
}
@media screen and (max-width: 470px) {
    .container {
        max-width: 370px;
    }
}
@media screen and (max-width: 360px) {
    .container {
        max-width: 340px;
    }
}
